<div class="scene-tools-panel" *ngIf="canOpen; else noAccess">
  <div class="row modes">
    <button type="button" [class.active]="tools.mode === 'select'" (click)="setMode('select')"
      [disabled]="!canModify" [title]="'scene.selectTitle' | i18n">{{ 'scene.select' | i18n }}</button>
    <button type="button" [class.active]="tools.mode === 'light'" (click)="setMode('light')"
      [disabled]="!canCreateKind('light')" [title]="'scene.lightTitle' | i18n">{{ 'scene.light' | i18n }}</button>
    <button type="button" [class.active]="tools.mode === 'wall'" (click)="setMode('wall')"
      [disabled]="!canCreateKind('wall')" [title]="'scene.wallTitle' | i18n">{{ 'scene.wall' | i18n }}</button>
  </div>
  <div class="row modes">
    <button type="button" [class.active]="tools.mode === 'draw-rect'" (click)="setMode('draw-rect')" [disabled]="!canCreateKind('draw-rect')">{{ 'scene.rect' | i18n }}</button>
    <button type="button" [class.active]="tools.mode === 'draw-ellipse'" (click)="setMode('draw-ellipse')" [disabled]="!canCreateKind('draw-ellipse')">{{ 'scene.ellipse' | i18n }}</button>
    <button type="button" [class.active]="tools.mode === 'draw-polygon'" (click)="setMode('draw-polygon')" [disabled]="!canCreateKind('draw-polygon')">{{ 'scene.polygon' | i18n }}</button>
    <button type="button" [class.active]="tools.mode === 'draw-freehand'" (click)="setMode('draw-freehand')" [disabled]="!canCreateKind('draw-freehand')">{{ 'scene.freehand' | i18n }}</button>
    <button type="button" [class.active]="tools.mode === 'draw-text'" (click)="setMode('draw-text')" [disabled]="!canCreateKind('draw-text')">{{ 'scene.text' | i18n }}</button>
  </div>

  <div class="row style" *ngIf="tools.isDrawMode || tools.selectedDrawing">
    <label>{{ 'scene.color' | i18n }} <input type="color" [(ngModel)]="tools.drawStrokeColor" (ngModelChange)="applyStyleToSelected()"></label>
    <label>{{ 'scene.strokeWidth' | i18n }}
      <input type="range" min="1" max="32" step="1" [(ngModel)]="tools.drawStrokeWidth" (ngModelChange)="applyStyleToSelected()">
      <span>{{ tools.drawStrokeWidth }}</span>
    </label>
    <label>{{ 'scene.strokeOpacity' | i18n }}
      <input type="number" min="0" max="1" step="0.05" [(ngModel)]="tools.drawStrokeOpacity" (ngModelChange)="applyStyleToSelected()" style="width:4em">
    </label>
    <label *ngIf="tools.mode !== 'draw-freehand' && tools.mode !== 'draw-text'">{{ 'scene.fillOpacity' | i18n }}
      <input type="number" min="0" max="1" step="0.05" [(ngModel)]="tools.drawFillOpacity" (ngModelChange)="applyStyleToSelected()" style="width:4em">
    </label>
  </div>

  <ng-container *ngIf="tools.mode === 'draw-freehand'">
    <div class="hint">{{ 'scene.hint.freehand' | i18n }}</div>
  </ng-container>

  <ng-container *ngIf="tools.mode === 'draw-rect' || tools.mode === 'draw-ellipse'">
    <div class="hint">{{ 'scene.hint.shape' | i18n }}</div>
  </ng-container>

  <ng-container *ngIf="tools.mode === 'light'">
    <div class="hint">{{ 'scene.hint.light' | i18n }}</div>
    <div class="row style">
      <label>{{ 'scene.name' | i18n }} <input type="text" [(ngModel)]="tools.lightName" style="width:6em"></label>
      <label>{{ 'scene.color' | i18n }} <input type="color" [(ngModel)]="tools.lightColor"></label>
      <label>{{ 'scene.intensity' | i18n }}
        <input type="range" min="0.1" max="1" step="0.05" [(ngModel)]="tools.lightIntensity">
        {{ tools.lightIntensity | number:'1.0-2' }}
      </label>
    </div>
    <div class="row style">
      <label>{{ 'scene.brightGrid' | i18n }}
        <input type="number" min="0" max="40" step="0.5" [(ngModel)]="lightBrightGrid" style="width:4em">
      </label>
      <label>{{ 'scene.dimGrid' | i18n }}
        <input type="number" min="0.5" max="40" step="0.5" [(ngModel)]="lightDimGrid" style="width:4em">
      </label>
    </div>
  </ng-container>

  <ng-container *ngIf="tools.mode === 'wall'">
    <div class="hint">{{ 'scene.hint.wall' | i18n }}</div>
    <div class="row">
      <span>{{ 'scene.pointCount' | i18n:{ count: tools.wallDraftPoints.length } }}</span>
      <button type="button" (click)="undoWallPoint()" [disabled]="!tools.wallDraftPoints.length">{{ 'scene.undoPoint' | i18n }}</button>
      <button type="button" (click)="finishWall()" [disabled]="tools.wallDraftPoints.length < 2">{{ 'scene.finishWall' | i18n }}</button>
    </div>
  </ng-container>

  <ng-container *ngIf="tools.mode === 'draw-polygon'">
    <div class="hint">{{ 'scene.hint.polygon' | i18n }}</div>
    <div class="row">
      <span>{{ 'scene.vertexCount' | i18n:{ count: tools.polygonDraftPoints.length } }}</span>
      <button type="button" (click)="finishPolygon()" [disabled]="tools.polygonDraftPoints.length < 3">{{ 'scene.finishPolygon' | i18n }}</button>
    </div>
  </ng-container>

  <ng-container *ngIf="tools.mode === 'draw-text' || (tools.selectedDrawing?.type === 'text')">
    <div class="hint" *ngIf="tools.mode === 'draw-text'">{{ 'scene.hint.text' | i18n }}</div>
    <div class="row">
      <label class="grow">{{ 'scene.textLabel' | i18n }}
        <input type="text" [(ngModel)]="tools.draftText" [placeholder]="'scene.textPlaceholder' | i18n">
      </label>
      <label>{{ 'scene.fontSize' | i18n }}
        <input type="number" [(ngModel)]="tools.draftFontSize" min="8" max="96" style="width:3.5em">
      </label>
    </div>
    <div class="row" *ngIf="tools.selectedDrawing?.type === 'text'">
      <button type="button" (click)="applyTextEdit()">{{ 'scene.applyText' | i18n }}</button>
    </div>
  </ng-container>

  <ng-container *ngIf="tools.mode === 'select'">
    <div class="hint">{{ 'scene.hint.select' | i18n }}</div>
  </ng-container>
  <ng-container *ngIf="tools.mode === 'none'">
    <div class="hint">{{ 'scene.hint.idle' | i18n }}</div>
  </ng-container>

  <div class="section" *ngIf="tools.selectionCount > 0 && canModify">
    <div class="sub">{{ 'scene.selectedCount' | i18n:{ count: tools.selectionCount } }}
      <ng-container *ngIf="tools.selectionCount === 1 && tools.selectedDrawing">{{ 'scene.selectedDrawing' | i18n:{ type: drawingTypeLabel(tools.selectedDrawing.type) } }}</ng-container>
      <ng-container *ngIf="tools.selectionCount === 1 && tools.selectedLight">{{ 'scene.selectedLight' | i18n }}</ng-container>
      <ng-container *ngIf="tools.selectionCount === 1 && tools.selectedWall">{{ 'scene.selectedWall' | i18n }}</ng-container>
    </div>

    <ng-container *ngIf="tools.selectedLight as light">
      <div class="row style">
        <label>{{ 'scene.name' | i18n }} <input type="text" [(ngModel)]="light.name" (ngModelChange)="applyLightField()" style="width:6em"></label>
        <label>{{ 'scene.color' | i18n }} <input type="color" [(ngModel)]="light.color" (ngModelChange)="applyLightField()"></label>
        <label><input type="checkbox" [(ngModel)]="light.enabled" (ngModelChange)="applyLightField()"> {{ 'scene.enabled' | i18n }}</label>
      </div>
      <div class="row style">
        <label>{{ 'scene.intensity' | i18n }}
          <input type="range" min="0.1" max="1" step="0.05" [(ngModel)]="light.intensity" (ngModelChange)="applyLightField()">
          {{ light.intensity | number:'1.0-2' }}
        </label>
      </div>
      <div class="row style">
        <label>{{ 'scene.brightGrid' | i18n }}
          <input type="number" min="0" max="40" step="0.5" [(ngModel)]="lightBrightGrid" (ngModelChange)="applyLightField()" style="width:4em">
        </label>
        <label>{{ 'scene.dimGrid' | i18n }}
          <input type="number" min="0.5" max="40" step="0.5" [(ngModel)]="lightDimGrid" (ngModelChange)="applyLightField()" style="width:4em">
        </label>
      </div>
      <div class="row style">
        <label>{{ 'scene.darknessMin' | i18n }}
          <input type="number" min="0" max="1" step="0.05" [(ngModel)]="light.darknessActivationMin" (ngModelChange)="applyLightField()" style="width:4em">
        </label>
        <label>{{ 'scene.darknessMax' | i18n }}
          <input type="number" min="0" max="1" step="0.05" [(ngModel)]="light.darknessActivationMax" (ngModelChange)="applyLightField()" style="width:4em">
        </label>
      </div>
      <div class="hint">{{ 'scene.coords' | i18n:{ x: light.x, y: light.y } }}</div>
    </ng-container>

    <ng-container *ngIf="tools.selectedWall as wall">
      <div class="row style">
        <label>{{ 'scene.name' | i18n }} <input type="text" [(ngModel)]="wall.name" style="width:6em"></label>
        <label>{{ 'scene.color' | i18n }} <input type="color" [(ngModel)]="wall.color"></label>
      </div>
      <div class="row style">
        <label><input type="checkbox" [(ngModel)]="wall.blocksLight"> {{ 'scene.blocksLight' | i18n }}</label>
        <label><input type="checkbox" [(ngModel)]="wall.blocksVision"> {{ 'scene.blocksVision' | i18n }}</label>
      </div>
    </ng-container>

    <button type="button" class="danger" (click)="deleteSelected()">{{ 'scene.deleteSelected' | i18n }}</button>
  </div>

  <div class="section" *ngIf="canModify">
    <ng-container *ngIf="canModifyKind('wall')">
      <div class="sub">{{ 'scene.wallList' | i18n:{ count: walls.length } }}</div>
      <ul class="list" *ngIf="walls.length">
        <li *ngFor="let w of walls" [class.active]="tools.isWallSelected(w)" (click)="selectWall(w)">
          {{ w.name || ('scene.wallDefault' | i18n) }}{{ 'scene.wallPoints' | i18n:{ count: w.points.length } }}
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="canModifyKind('light')">
      <div class="sub">{{ 'scene.lightList' | i18n:{ count: lights.length } }}</div>
      <ul class="list" *ngIf="lights.length">
        <li *ngFor="let l of lights" [class.active]="tools.isLightSelected(l)" (click)="selectLight(l)">
          {{ l.name || ('scene.lightDefault' | i18n) }} @ {{ l.x | number:'1.0-0' }},{{ l.y | number:'1.0-0' }}
        </li>
      </ul>
    </ng-container>
    <ng-container *ngIf="canModifyKind('drawing')">
      <div class="sub">{{ 'scene.drawingList' | i18n:{ count: drawings.length } }}</div>
      <ul class="list" *ngIf="drawings.length">
        <li *ngFor="let d of drawings" [class.active]="tools.isDrawingSelected(d)" (click)="selectDrawing(d)">
          {{ drawingTypeLabel(d.type) }}<ng-container *ngIf="d.type === 'text'">：{{ d.text }}</ng-container>
        </li>
      </ul>
    </ng-container>
  </div>
</div>
<ng-template #noAccess>
  <div class="hint">{{ 'scene.hint.noAccess' | i18n }}</div>
</ng-template>
