<div>
  <div *ngIf="isValid" class="url"><small><small>{{urlObj.protocol}}//</small></small><span [ngClass]="{'outer': isOuter}">{{urlObj.host}}</span><small>{{urlObj.pathname}}<span class="opt">{{urlObj.search}}{{urlObj.hash}}</span></small></div>
  <div *ngIf="!isValid" class="url">{{url}}</div>
  <hr />
  <div class="help">
    <div *ngIf="isValid">{{ 'url.confirm' | i18n }}</div>
    <div *ngIf="!isValid">{{ 'url.invalid' | i18n }}</div>
  </div>
</div>
<button type="submit" (click)="openUrl()" [disabled]="!isValid">{{ 'url.open' | i18n }}</button>
<button type="button" (click)="cancel()">{{ 'url.cancel' | i18n }}</button>