<div *ngIf="!isConnected;else other_content">
  <div>{{ 'room.name' | i18n }}
    <input class="input" [(ngModel)]="roomName" (ngModelChange)="recalcPeerId()" required minlength="1" maxlength="128"
      #roomNameValidation="ngModel" name="roomName" [placeholder]="'room.namePlaceholder' | i18n" />
  </div>
  <hr/>
  <div class="pw-row">
    <label>{{ 'room.gmPassword' | i18n }}</label>
    <input class="input" type="password" [(ngModel)]="gmPassword" (ngModelChange)="recalcPeerId()" maxlength="12"
      name="gmPassword" #gmPw="ngModel" [placeholder]="'room.passwordPlaceholder' | i18n" autocomplete="new-password" />
  </div>
  <div class="pw-row">
    <label>{{ 'room.userPassword' | i18n }}</label>
    <input class="input" type="password" [(ngModel)]="userPassword" (ngModelChange)="recalcPeerId()" maxlength="12"
      name="userPassword" #userPw="ngModel" [placeholder]="'room.passwordPlaceholder' | i18n" autocomplete="new-password" />
  </div>
  <div class="pw-row">
    <label>{{ 'room.guestPassword' | i18n }}</label>
    <input class="input" type="password" [(ngModel)]="guestPassword" (ngModelChange)="recalcPeerId()" maxlength="12"
      name="guestPassword" #guestPw="ngModel" [placeholder]="'room.passwordPlaceholder' | i18n" autocomplete="new-password" />
  </div>
  <div class="hint">{{ 'room.passwordHint' | i18n }}</div>
  <hr/>
  <div *ngIf="roomNameValidation.errors && (roomNameValidation.dirty || roomNameValidation.touched)">
    <div [hidden]="!roomNameValidation.errors.required && !roomNameValidation.errors.minlength">
      {{ 'room.errorNameRequired' | i18n }}
    </div>
    <div [hidden]="!roomNameValidation.errors.maxlength">
      {{ 'room.errorNameMaxLength' | i18n }}
    </div>
  </div>
  <div *ngIf="gmPw.errors?.maxlength || userPw.errors?.maxlength || guestPw.errors?.maxlength">
    {{ 'room.errorPasswordMaxLength' | i18n }}
  </div>
  <div *ngIf="!validateLength">
    {{ 'room.errorPeerIdLength' | i18n }}
  </div>
  <div>
    <button [disabled]="!roomNameValidation.valid || !gmPw.valid || !userPw.valid || !guestPw.valid || !validateLength"
      (click)="createRoom()">{{ 'room.create' | i18n }}</button>
  </div>
</div>
<div><span style="font-size: 12px;">{{ 'room.emptyRoomHint' | i18n }}</span></div>
<ng-template #other_content>
  <span style="font-size: 12px;" [innerHTML]="'room.connectedHint' | i18n"></span>
</ng-template>
